body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

:root {
  --basic-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --hero-title-color: #ffffff;
  --button-bkg-color: #2196f3;
  --hero-bcg-color: #2f303a;
  --hero-border-bottom: #ececec;
  --section-team-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* header */
header {
  color: var(--basic-color);
  background-color: #ffffff;
  border-bottom: 1px solid var(--hero-border-bottom);
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.decoration {
  text-decoration: none;
}

.hidden-title {
  display: none;
}
.section {
  padding: 94px 0;
}

.container {
  width: 1230px;
  margin: 0 auto;
  /* outline: 2px solid bisque; */
  padding: 0 15px;
}
.section.no-padding-top {
  padding-top: 0;
}

.container.header {
  display: flex;
  justify-content: space-between;
}

/* logo */
.logo {
  margin-right: 93px;
  color: var(--basic-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  text-decoration: none;
}

.logo .second-color-logo {
  color: var(--accent-color);
}
.header-nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.14;
}
/* nav */
.site-nav {
  display: flex;
  padding-left: 0;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
/* альтернатива */

/* .site-nav .item{
  margin-right: 50px;
}
.site-nav .item:last-child{
margin-right: 0;
} */

/* .site-nav .item + .item{
  margin-left: 50px;
} */

.site-nav .link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--basic-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

/* header contacts */
.contacts {
  display: flex;
  align-items: center;
}
.contacts .item + .item {
  margin-left: 50px;
}

.contacts .contacts-list {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts .contacts-list:hover,
.contacts .contacts-list:focus {
  color: var(--accent-color);
}
/* body */

.section-title {
  color: var(--basic-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
/* hero */
.hero {
  background-color: var(--hero-bcg-color);
  text-align: center;
}

.hero-title {
  text-transform: uppercase;
  color: var(--hero-title-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  padding-top: 200px;
  margin-top: 0;
  margin-bottom: 30px;
}
/* button */
.button {
  font-family: Roboto, sans-serif;
  background-color: var(--button-bkg-color);
  color: var(--hero-title-color);
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin-bottom: 200px;

  cursor: pointer;
}
.hero.button:hover,
.hero.button:focus {
}

/* benefits */

.benefits-list {
  display: flex;
}
.benefits-list .item + .item {
  margin-left: 30px;
}

.benefits-list .title {
  text-transform: uppercase;
  color: var(--basic-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 10px;
}
.benefits-text {
  color: var(--text-color);

  font-size: 14px;
  line-height: 1.71;
}

/* occupation */
.list-works {
  display: flex;
  padding-left: 0;
  /* margin-right: -15px;
  margin-left: -15px; */
}
.list-works .item + .item {
  margin-left: 30px;
}
/* .list-works .item{
  margin-right: 15px;
  margin-left: 15px;
} */

/* team */

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  padding-left: 0;
}
.team-content {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.team .item {
  background-color: #fff;
  /* overflow: hidden; */
  box-shadow: var(--section-team-shadow);
  border-radius: 0px 0px 4px 4px;
}

.team-list .item + .item {
  margin-left: 30px;
}

.section .member {
  color: var(--basic-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}
.section .specialty {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.19;
}
/* footer */
.footer {
  background-color: var(--hero-bcg-color);
}
.footer-logo {
  display: inline-block;
  color: var(--hero-title-color);
  font-family: "Raleway";
  padding-top: 60px;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.footer-logo .footer-logo-span {
  color: var(--accent-color);
}
.footer-logo:hover,
.footer-logo:focus {
}

.address .location {
  display: block;
  color: var(--hero-title-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  margin-bottom: 9px;
}
.address .location:hover,
.address .location:focus {
  color: var(--accent-color);
}
.address .contacts {
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}
.contacts.mail {
  margin-bottom: 9px;
}
.contacts.tel {
  padding-bottom: 62px;
}
.address .contacts:hover,
.address .contacts:focus {
  color: var(--accent-color);
}

/* Portfolio */

/* button */
.filter-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-bottom: 34px;
}
.filter.menu {
  font-family: Roboto, sans-serif;
  color: var(--basic-color);
  background: #f5f4fa;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  cursor: pointer;
}
.filter-list .item + .item {
  margin-left: 8px;
}

.filter.menu:hover,
.filter.menu:focus {
  color: var(--hero-title-color);
  background-color: var(--button-bkg-color);
}
.projects {
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  margin-right: -30px;
  margin-bottom: -30px;
}
.projects .item {
  flex-basis: calc(100% / 3 - 32px);
  margin-right: 30px;
  margin-bottom: 30px;
  /* border: 1px solid #eeeeee; */
}

.projects .title {
  color: var(--basic-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
}

.projects .text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.88;
}
.projects .img {
  margin-bottom: 20px;
}
.projects .title {
  margin-bottom: 4px;
}
